:root {

    font-family: "Raleway";
    font-weight: 700;

    --font-size-60: 60px;
    --text-shadow: rgb(51, 51, 51) 0px 0px 30px;

    // FX
    --gradient-1: linear-gradient(rgb(131, 205, 255) 0%, rgba(0, 212, 255, 1) 100%);
}