div(class="container")
    header(class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom")
      a(href="/", class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none")
        svg(class="bi me-2", width="40", height="32")
        use(xlink:href="#bootstrap")
        span(class="fs-4") StoneLight

      ul(class="nav nav-pills" id="navigationbar")
        li(class="nav-item")
            a(href="index.html" id="homebutton" class="nav-link active" aria-current="page") Home
        li(class="nav-item")
            a(href="clans.html" id="clansbutton" class="nav-link") Clans
        li(class="nav-item")
            a(href="stats.html" id="statsbutton" class="nav-link") Stats
        li(class="nav-item")
            a(href="admins.html" id="adminsbutton" class="nav-link") Admins
        li(class="nav-item")
            a(href="about.html" id="aboutbutton" class="nav-link") About