//- - var links = [{title: 'mission',url: '#'},{title: 'about',url: 'about'}]
//- block pagename
//- mixin navbar(page)
//-     nav
//-         each item in links
//-             li
//-                a(class=(page === item.title) ? ["link", "active"] : "link" href= item.url title= item.title) #{item.title}