doctype html
html(lang="en")
    head
        include ../components/head
    body
        include ../components/header
        main.
            span HELLO WORLD!
        include ../components/footer

        include ../components/bottomscripts