doctype html
html(lang="en")
    head
        include ../components/head
    body
        include ../components/header
        main.
            
        include ../components/footer

        include ../components/bottomscripts