extends ../components/navbar.pug
block pagename
    - var pageName = 'about'

doctype html

html(lang="en")
    head
        include ../components/head
    body
        +navbar(pageName)
        //- include ../components/header
        main.
            
        include ../components/footer

        include ../components/bottomscripts