//- extends ../components/navbar.pug
//- block pagename
//-     - var pageName = 'about'

doctype html

html(lang="en")
    head
        include ../components/head
    body
        //- +navbar(pageName)
        include ../components/header
        //- img(src="../images/D.png", alt="D", class="backgroundimage")
        div(class="backgroundimage")
            h1(class="titletext") StoneLight - ванільний сервер без приватів та донату
            h4(class="titletext") Виживайте, вступайте до кланів,знаходьте нових друзів та просто весело проводьте час
        div(id="pong-section")
            div(class="ball")
        include ../components/footer

        include ../components/bottomscripts